body{
  background-image: url("bg3.jpg");
}

.myForm {
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 0.8em;
width: 30em;
padding: 1em;
}

.myForm * {
box-sizing: border-box;
}

.myForm label {
padding: 0;
font-weight: bold;
text-align: right;
display: block;
}

.myForm input,
.myForm select,
.myForm textarea {
margin-left: 2em;
float: right;
width: 20em;
border: 1px solid #ccc;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 0.9em;
padding: 0.3em;
}

.myForm textarea {
height: 100px;
}

.myForm button {
padding: 1em;
border-radius: 0.5em;
background: #eee;
border: none;
font-weight: bold;
margin-left: 14em;
margin-top: 1.8em;
}

.myForm button:hover {
background: #ccc;
cursor: pointer;
}

a.page1:link {color:#ff0000; background-color: #6BBFBF; font-size: 18px; word-spacing: 10px;}
a.page1:visited {color:white; background-color: #6BBFBF;}
a.page1:hover {background:#A6BABA;}

a.page2:link {color:#ff0000; background-color: #6BBFBF; font-size: 18px; word-spacing: 10px;}
a.page2:visited {color:white; background-color: #6BBFBF;}
a.page2:hover {background:#A6BABA;}

a.page3:link {color:#ff0000; background-color: #6BBFBF; font-size: 18px; word-spacing: 10px;}
a.page3:visited {color:white; background-color: #6BBFBF;}
a.page3:hover {background:#A6BABA;}

a.page5:link {color:#ff0000; background-color: #6BBFBF; font-size: 18px;}
a.page5:visited {color:white; background-color: #6BBFBF;}
a.page5:hover {background:#A6BABA;}
