
body{
  background-image: url("bg3.jpg");
}

form {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.8em;
    width: 30em;
    padding: 1em;
    }

    form * {
    box-sizing: border-box;
    }

    form label {
    padding: 0;
    font-weight: bold;
    text-align: right;
    display: block;
    }

    form input,
    form select,
    form textarea {
    margin-left: 2em;
    float: right;
    width: 20em;
    border: 1px solid #ccc;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.9em;
    padding: 0.3em;
    }

    form textarea {
    height: 100px;
    }

    form button {
    padding: 1em;
    border-radius: 0.5em;
    background: #eee;
    border: none;
    font-weight: bold;
    margin-left: 14em;
    margin-top: 1.8em;
    }

    form button:hover {
    background: #ccc;
    cursor: pointer;
    }

    a.page1:link {color:#ff0000; background-color: #6BBFBF; font-size: 18px; word-spacing: 10px;}
    a.page1:visited {color:white; background-color: #6BBFBF;}
    a.page1:hover {background:#A6BABA;}

    a.page2:link {color:#ff0000; background-color: #6BBFBF; font-size: 18px; word-spacing: 10px;}
    a.page2:visited {color:white; background-color: #6BBFBF;}
    a.page2:hover {background:#A6BABA;}

    a.page3:link {color:#ff0000; background-color: #6BBFBF; font-size: 18px;}
    a.page3:visited {color:white; background-color: #6BBFBF;}
    a.page3:hover {background:#A6BABA;}

    a.page4:link {color:#ff0000; background-color: #6BBFBF; font-size: 18px; word-spacing: 10px;}
    a.page4:visited {color:white; background-color: #6BBFBF;}
    a.page4:hover {background:#A6BABA;}
